.color-primary {
	color: #fd3d3c;
}

.color-white {
	color: white;
}

.color-black {
	color: #232829;
}

.color-darkgray {
	color: #656667;
}

.color-gray {
	color: #98999a;
}

.color-lightgray {
	color: #aaaaaa;
}

.font-10 {
	font-size: 20rpx;
}

.font-11 {
	font-size: 22rpx;
}

.font-12 {
	font-size: 24rpx;
}

.font-13 {
	font-size: 26rpx;
}

.font-14 {
	font-size: 28rpx;
}

.font-15 {
	font-size: 30rpx;
}

.font-16 {
	font-size: 32rpx;
}

.font-18 {
	font-size: 36rpx;
}

.font-20 {
	font-size: 40rpx;
}

.font-26 {
	font-size: 52rpx;
}

.bold {
	font-weight: 600;
}

.border-primary {
	border: 2rpx solid #fd3d3c;
}

.border-gray {
	border: 2rpx solid #dfe0e1;
}

.radis-2 {
	border-radius: 4rpx;
}

.radis-3 {
	border-radius: 6rpx;
}

.bottom-border {
	border-bottom: 1px solid #eeeeee;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.zy-input {
	color: #232829;
}

.zy-input-placeholder {
	color: #c5c6c7;
}

.no-space {
	display: block;
	margin: 0;
	padding: 0;
}

.negative-space {
	display: block;
	margin-top: -16rpx;
}

page {
	width: 100vw;
	height: 100vh;
	background: #f3f4f6;
}
.uni-input {
	.uni-numbox__minus.uni-cursor-point {
		background-color: white;
		border-radius: 12rpx 0 0 12rpx;
		border: 1rpx solid #cccccc;
	}
	.uni-numbox {
		.uni-numbox__value {
			color: #232829;
			font-size: 26rpx;
		}
		height: 60rpx;
		line-height: 60rpx;
	}
	.uni-numbox__plus.uni-cursor-point {
		background-color: white;
		border-radius: 0 12rpx 12rpx 0;
		border: 1rpx solid #cccccc;
	}
}
::v-deep .uni-numbox__value {
	background-color: #ffffff;
	width: 50px;
	height: 35px;
	text-align: center;
	font-size: 32rpx;
	border-width: 1rpx;
	border-style: solid;
	border-color: #c8c7cc;
	border-left-width: 0;
	border-right-width: 0;
}
::v-deep .uni-numbox__minus.uni-cursor-point {
		background-color: white;
		border-radius: 12rpx 0 0 12rpx;		border: 1rpx solid #cccccc;
}
